services:
  gwf-backend:
    container_name: gwf-backend
    image: gwf-backend:local
    build:
      context: ./go-watch-file
    env_file:
      - .env
    volumes:
      - /opt/gwf:/etc/gwf
      - /opt/gwf/logs:/app/logs
    ports:
      - "${GWF_BACKEND_PORT:-8082}:8080"
    restart: unless-stopped
    networks:
      - gwf-net

  gwf-frontend:
    container_name: gwf-frontend
    image: gwf-frontend:local
    build:
      context: ./console-frontend
    depends_on:
      - gwf-backend
    ports:
      - "${GWF_WEB_PORT:-8081}:80"
    restart: unless-stopped
    networks:
      - gwf-net

networks:
  gwf-net:
    driver: bridge
